<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
    <style>
      body {
        background-color: skyblue;
        font-family: verdana;
        color: #fff;
        padding: 30px;
      }
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        color: white;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
      table#t01 {
        width:100%;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <table id = "t01">
      <% for (var url in urls) { %>
        <tr>
        <td>
          <form id = 'delete-url' method="POST" action="/urls/<%= url %>/delete">
            <td><a href="<%= urls[url] %>"><%= url %></a> -> <%= urls[url] %></td>
            <td><a href="/urls/<%= url %>">Edit</a></td>
            <td><button type='submit' value='Delete'/>Delete</button></td>
          </form>
        </td>
      </tr>
      <% }; %>

    </table>
  </body>
</html>
